<!-- <p>company works!</p> -->

<section id="company" class="container">
  <div class="row my-2 p-3">
    <div id="comapnyName" class="col-12 fw-bold h1 text-center text-warning">
      <!-- {{selectedCompany}} -->
      Lenskart.com
    </div>
    <div class="row mt-5">
      <div class="col-5 mt-5 p-5">
        <p class="text-danger">Time remaining: 2d 24hrs 60mins.</p>
        <form>
          <label for="fund" class="fw-bolder">Fund Me</label>
          <input
            class="form-control mb-3"
            id="fund"
            name="fund"
            type="text"
            placeholder="Enter Amount"
          />
          <button class="btn btn-success px-5 my-2">Fund</button>
        </form>
      </div>

      <div class="col-7">
        <p class="fs-2">Company's Objective</p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam unde
          molestias, harum inventore reprehenderit laboriosam at vero totam, aut
          officiis debitis explicabo ducimus, fugit vel exercitationem pariatur
          corrupti fuga cumque quisquam perspiciatis?
        </p>

        <p class="fw-bolder">Total funds Raising:  <span class="text-info">10,000,00,00&dollar;</span>.</p>
        <p class="fw-bolder" >Funds Raised Till Now: <span class="text-info">5,000,00,00&dollar;</span> .</p>
        <p>Website: <a href="#">www.lenskart.com</a></p>

      </div>

      <div class="col-12 text-center text-secondary my-5">You still haven't funded in this company.</div>
    </div>
  </div>
</section>
