<header class="w-100">
    <nav class="d-flex justify-content-evenly">
            <a class="branding text-orange fw-bold h1">crowdFund</a>

            <ul class=" my-auto d-flex justify-content-between">
                <li class="nav-item ">
                    <a class="nav-link active">Fund</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact us</a>
                </li>
            </ul>
    </nav>
</header>
<router-outlet></router-outlet>
